<!-- CV page with a back button-->
<!-- Oona Laitinen 1702547-->
<ion-fab>
  <ion-fab-button color="light" size="small" href='/home'>
    <ion-icon color="dark" href='/home' name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<div class="ion-text-center">
  <ion-text color="medium">
    <h1>CV</h1>
  </ion-text>
</div>

<!-- Adds a list and a header for it-->
<!-- Oona Laitinen 1702547-->
<ion-content>
  <ion-list class="ion-margin-top">
    <ion-list-header class="header">
      <ion-label>Education</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <b>Laurea University of Applied Sciences 2017-2020</b> <br />
        Bachelor of Business Administration in Information Technology
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>Metropolia University of Applied Sciences 2014-2016</b> <br />
        Physiotherapy Student
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>Kuninkaantie Upper Secondary School 2011-2014</b> <br />
        Finnish Matriculation Examination Graduate
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header class="header">
      <ion-label>Experience</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label><b>February 2016 – Physiotherapy trainee</b> <br />
        Communicating with co-workers and patients, examining patients and creating follow-up plans for them, leading
        training groups for patients and helping them with their workouts
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>May 2015 – Physiotherapy trainee</b> <br />
        Communicating with co-workers and patients, examining patients and creating follow-up plans for them, leading
        training groups for patients and helping them with their workouts
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>November 2010 – Trainee in a kindergarten</b> <br />
        Taking care of many children, playing with them, entertaining them, helping them with anything
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Babysitter</b> <br />
        Taking care of one or more children occasionally
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>