<!-- Menu button and a title for CV page - Oona Laitinen 1702547-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        CV
      </ion-title>
    </ion-toolbar>
  </ion-header>

<!-- A list, headers and items with content - Oona Laitinen 1702547-->
<ion-content>
  <ion-list class="ion-margin-top">
    <ion-list-header class="header">
      <ion-label>Education</ion-label>
    </ion-list-header>
    <ion-item>
      <p>
        <b>Laurea University of Applied Sciences</b> <br />
        <i><b>2017-2020</b></i> <br />
        Bachelor of Business Administration in Information Technology
      </p>
    </ion-item>
    <ion-item>
      <p>
        <b>Metropolia University of Applied Sciences</b> <br />
        <i><b>2014-2016</b></i> <br />
        Physiotherapy Student
      </p>
    </ion-item>
    <ion-item>
      <p>
        <b>Kuninkaantie Upper Secondary School</b> <br />
        <i><b>2011-2014</b></i> <br />
        Finnish Matriculation Examination Graduate
      </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header class="header">
      <ion-label>Experience</ion-label>
    </ion-list-header>
    <ion-item>
      <p><b><i>February 2016</i> – Physiotherapy trainee</b> <br />
        Communicating with co-workers and patients, examining patients and creating follow-up plans for them, leading training groups for patients and helping them with their workouts
      </p>
    </ion-item>
    <ion-item>
      <p><b><i>May 2015</i> – Physiotherapy trainee</b> <br />
        Communicating with co-workers and patients, examining patients and creating follow-up plans for them, leading
        training groups for patients and helping them with their workouts
      </p>
    </ion-item>
    <ion-item>
      <p><b><i>November 2010</i> – Trainee in a kindergarten</b> <br />
        Taking care of many children, playing with them, entertaining them, helping them with anything
      </p>
    </ion-item>
    <ion-item>
      <p><b>Babysitter</b> <br />
        Taking care of one or more children occasionally
      </p>
    </ion-item>
  </ion-list>
</ion-content>