<!-- Menu button and title for About page that works as home page - Oona Laitinen 1702547-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        About
      </ion-title>
    </ion-toolbar>
  </ion-header>

<!-- Adds a picture and a description - Oona Laitinen 1702547-->
<ion-content>
  <ion-avatar class="myphoto" style="margin-top: 20px">
    <img src="assets/img/Oona.jpg">
  </ion-avatar>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" class="ion-margin-end ion-margin-start">
        <h5 class="ion-align-self-center" style="padding: 15px; border: 1px solid grey; color: grey">
          BBA student in Information Technology with excellent language and listening skills. I am a great
          team-worker and my communication skills are superb. I am detail oriented, organized and creative.
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>