<!-- About page with a back button-->
<!-- Oona Laitinen 1702547-->
<ion-fab>
  <ion-fab-button class="ion-margin-top ion-margin-start" size="small" color="light" href='/home'>
    <ion-icon color="dark" href='/home' name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<div class="ion-text-center">
    <ion-text color="medium">
      <h1>About</h1>
    </ion-text>
</div>

<!-- Adds a picture with a description-->
<!-- Oona Laitinen 1702547-->
<ion-content>
  <ion-avatar class="myphoto" style="margin-top: 20px">
    <img src="assets/img/Oona.jpg">
  </ion-avatar>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" class="ion-margin-end ion-margin-start">
        <h5 class="ion-align-self-center" style="padding: 15px; border: 1px solid grey; color: grey">
          BBA student in Information Technology with excellent language and listening skills. I am a great
          team-worker and my communication skills are superb. I am detail oriented, organized and creative.
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>