<!-- Project Works page with a back button--> 
<!-- Oona Laitinen 1702547-->
<ion-fab>
  <ion-fab-button color="light" size="small" href='/home'>
    <ion-icon color="dark" href='/home' name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<div class="ion-text-center">
  <ion-text color="medium">
    <h1>Project Works</h1>
  </ion-text>
</div>

<!-- Adds a list and a header for it-->
<!-- Oona Laitinen 1702547-->
<ion-content>
  <ion-list class="ion-margin-top">
    <ion-item>
        <ion-label>
          <b>Eduhouse Oy 2019</b> <br />
          UI and UX testing project
        </ion-label>
      </ion-item>
    <ion-item>
      <ion-label>
        <b>Touchpoint Oy 2018</b> <br />
        Service Design project on Ecological delivery and recyclable packaging solutions
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>Solibri Oy 2018</b> <br />
        Development project on marketing and social media
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
          <b>Fujitsu Finland 2017</b> <br />
          Businessanalysis project on Fujitsu
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>