<!-- Project Works page with a menu button - Oona Laitinen 1702547-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Project Work
      </ion-title>
    </ion-toolbar>
  </ion-header>

<!-- A list, headers and items with content - Oona Laitinen 1702547-->
<ion-content>
  <ion-list class="ion-margin-top">
    <ion-item>
        <ion-label>
          <b>Eduhouse Oy 2019</b> <br />
          UI and UX testing project
        </ion-label>
      </ion-item>
    <ion-item>
      <ion-label>
        <b>Touchpoint Oy 2018</b> <br />
        Service Design project on Ecological delivery and recyclable packaging solutions
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <b>Solibri Oy 2018</b> <br />
        Development project on marketing and social media
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
          <b>Fujitsu Finland 2017</b> <br />
          Businessanalysis project on Fujitsu
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>