<!-- Contact page with a menu button - Oona Laitinen 1702547-->
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Contact
      </ion-title>
    </ion-toolbar>
  </ion-header>

<!-- Adds a couple of fields with contact information - Oona Laitinen 1702547-->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" class="ion-margin-end ion-margin-start">
        <h5 class="ion-align-self-center" style="padding: 15px; border: 1px solid grey; color: grey">
         <ion-icon name="mail"></ion-icon>
         oonalaitinen@outlook.com
        </h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" class="ion-margin-end ion-margin-start">
        <h5 class="ion-align-self-center" style="padding: 15px; border: 1px solid grey; color: grey">
          <ion-icon name="call"></ion-icon>
          +358449757465
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>