<!-- Contact page with a back button-->
<!-- Oona Laitinen 1702547-->
<ion-fab>
  <ion-fab-button color="light" size="small" href='/home'>
    <ion-icon color="dark" href='/home' name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<div class="ion-text-center">
  <ion-text color="medium">
    <h1>Contact</h1>
  </ion-text>
</div>

<!-- Adds a couple of fields with contact information-->
<!-- Oona Laitinen 1702547-->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" class="ion-margin-end ion-margin-start">
        <h5 class="ion-align-self-center" style="padding: 15px; border: 1px solid grey; color: grey">
         <ion-icon name="mail"></ion-icon> oonalaitinen@outlook.com
        </h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" class="ion-margin-end ion-margin-start">
        <h5 class="ion-align-self-center" style="padding: 15px; border: 1px solid grey; color: grey">
          <ion-icon name="call"></ion-icon> +358449757465
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>