<!-- Extra Curriculum page with a menu button - Oona Laitinen 1702547 -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Extra Curriculum
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- A list, a header and a item with content Oona Laitinen 1702547 -->
<ion-content>
  <ion-list class="ion-margin-top">
    <ion-list-header class="header">
      <ion-label>Hobbies</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Floorball, gym and hiking<br />
        Drawing, painting<br />
        Travelling and cooking<br />
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>