<!-- Skills page with a menu button - Oona Laitinen 1702547-->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Skills
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- A list, headers and items with content - Oona Laitinen 1702547-->
<ion-content>
  <ion-list class="ion-margin-top">
    <ion-list-header class="header">
      <ion-label>Technical</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Basics in Java and SQL<br />
        Mobile App Design and Development<br />
        UI/UX Design<br />
      </ion-label>
    </ion-item>
    <ion-list-header class="header">
      <ion-label>Languages</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Finnish – mother tongue<br />
        English – fluent<br />
        Swedish – good<br />
        Italian - basics<br />
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>