<!-- Homepage of the app with a logout button-->
<!-- Oona Laitinen 1702547-->
<ion-content>
  <a href="/about" class="button">ABOUT</a>
  <a href="/cv" class="button">CV</a>
  <a href="/projects" class="button">PROJECT WORKS</a>
  <a href="/extra" class="button">EXTRA CURRICULUM</a>
  <a href="/contact" class="button">CONTACT</a>
  <ion-fab vertical="fixed" horizontal="center">
    <ion-fab-button class="ion-margin-top" color="light" (click)="logout()">
      <ion-icon color="dark" name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>