// Button's attributes
// Oona Laitinen 1702547
.button {
    background: white;
    color: grey;
    padding: 20px;
    width: 80%;
    height: auto;
    margin: 20px auto;
    border: 1px solid grey;
    font-size: 26px;
    text-align: center;
    text-decoration: none;
    display: block;
}